.s-galeria {
  .container {
    padding-top: 105px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    margin-top: 40px;

    .gallery-image {
      width: 360px;
      height: 360px;

      object-fit: cover;
      
      border-radius: 4px;
      
      cursor: pointer;
    }
  }
}